//SECTION 1-HIDE//
.section-1-hide {
  display: none;
}
//SECTION 1-HIDE//

.section-1 {
  width: 100%;
  overflow: hidden;
  .disabled-h1 {
    display: none;
  }
  .h1 {
    width: 286px;
    height: 99px;
    font-family: Montserrat-Bold;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 33px;
    margin: auto;
    padding: 10px;
    body.dark & {
      color: #ffffff;
    }
    br {
      display: none;
    }
    span {
      color: #5ed7c6;
    }
  }
  .ilustra {
    width: 273px;
    height: 130px;
    margin-left: 60px;
    margin-top: 40px;
  }
  .disabled-ilustra {
    display: none;
  }
  .form {
    width: 334px;
    height: 50px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    background: #ffffff;
    border: 1px solid #572ee5;
    border-radius: 27px;
    margin-left: 22px;
    body.dark & {
      background: #37383c 100%;
      border: 1px solid #ffffff;
    }
    .buscar {
      font-family: Roboto-Regular;
      font-size: 16px;
      color: #6b7989 100%;
      text-align: left;
      border: none;
      outline: none;
      margin-top: 14px;
      body.dark & {
        background: #37383c;
      }
    }

    .fa-search {
      color: #572ee5;
      visibility: visible;
      body.dark & {
        color: #ffffff;
      }
    }
    .button-hide {
      visibility: hidden;
    }
    
    .fa-times {
      color: #572ee5;
      body.dark & {
        color: #ffffff;
      }
    }
    .hide {
      display: none;
    }

    .suggestions {
      margin-top: -26px;
      .primero {
        position: relative;
        left: -122px;
        top: 45px;
        cursor: pointer;
      }
      .segundo {
        position: relative;
        left: -135px;
        top: 73px;
        cursor: pointer;
      }
      .tercero {
        position: relative;
        left: -150px;
        top: 99px;
        cursor: pointer;
      }
      .cuarto {
        position: relative;
        left: -165px;
        top: 128px;
        cursor: pointer;
      }
    }
  }
}

//SECTION 1

//SECTION 2
.section-2-hide {
  display: none;
}
.section-2 {
  width: 100%;
  overflow: hidden;
  h2 {
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: #572ee5;
    text-align: center;
    line-height: 25px;
    margin-top: 35px;
    
    body.dark & {
      color: #ffffff;
    }
  }
  h3 {
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #572ee5;
    text-align: center;
    line-height: 25px;
    width: 225px;
    height: 50px;
    margin-left: 80px;
    padding: 12px;
    margin-top: -12px;
    margin-bottom: 35px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    
    body.dark & {
      color: #ffffff;
    }
  }
}
//SECTION 2

//SECTION 3 TRENDING
.section-3 {
  overflow: hidden;
  width: 100%;
  height: 430px;
  margin-top: 47px;
  background: #f3f5f8;
  body.dark & {
    background: #222326;
  }
  .fas {
    display: none;
  }
  h2 {
    width: 375px;
    height: 30px;
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    padding: 46px;
    body.dark & {
      color: #ffffff;
    }
  }
  h3 {
    width: 333px;
    height: 46px;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #000000;
    text-align: center;
    line-height: 23px;
    margin: auto;
    display: block;
    body.dark & {
      color: #ffffff;
    }
  }
  .scroll-left {
    display: none;
  }

  .trendng-gif {
    display: grid;
    grid-template-columns: repeat(25, 243px);
    column-gap: 22px;
    text-align: center;
    overflow-x: auto;
    margin: 32px 0 0 22px;
  }
  img {
    width: 243px;
    height: 187px;
  }
}

//SECTION 3

//SECTION HIDE SEARCH
.disabled-section {
  display: none;
}
.enabled-section {
  .line-grey {
    opacity: 0.5;
    border: 1px solid #9cafc3;
    width: 157px;
    height: 1px;
    display: block;
    margin: auto;
  }
  h2 {
    font-family: Montserrat-Bold;
    font-size: 25px;
    color: #572ee5;
    text-align: center;
    line-height: 40px;
    display: block;
    margin: auto;
    margin-top: 43px;
    margin-bottom: 38px;
    body.dark & {
      color: #ffffff;
    }
  }

  .container-imgMax {
    width: 375px;
    height: 584px;
    background: rgba(255, 255, 255, 0.9);
    margin: auto;
    display: block;
    position: absolute;
    top: -2px;
    body.dark & {
      background: #37383c;
    }

    .imagen-max {
      width: 318px;
      height: 245px;
      margin: auto;
      display: block;
      position: relative;
      top: 145px;
    }
    .title {
      margin-top: 193px;
      margin-left: 30px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      color: #000000;
      width: 94px;
      height: 19px;
      body.dark & {
        color: #ffffff;
      }
    }
    .user {
      position: relative;
      bottom: 65px;
      left: 28px;
      font-family: Roboto-Regular;
      font-size: 15px;
      color: #000000;
      width: 31px;
      height: 18px;
      body.dark & {
        color: #ffffff;
      }
    }

    .fa-heart {
      position: relative;
      top: 177px;
      left: 263px;
      width: 20px;
      height: 18px;
      color: #572ee5;
      body.dark & {
        color: #ffffff;
      }
    }

    .icono-download {
      position: relative;
      top: -80px;
      left: 320px;
      opacity: 0.5;
      border: 1px solid #9cafc3;

      border-radius: 6px;
    }
    .icono-download-fav {
      position: relative;
      top: 188px;
      left: 290px;
      opacity: 0.5;
      border: 1px solid #9cafc3;
      border-radius: 6px;
    }

    .fa-times {
      position: relative;
      top: -213px;
      left: 287px;
      color: #572ee5;
      width: 13.8px;
      height: 14px;
      body.dark & {
        color: #ffffff;
      }
    }

    .fa-trash {
      position: relative;
      top: 170px;
      left: 268px;
      width: 20px;
      height: 18px;
      color: #572ee5;
      body.dark & {
        color: #ffffff;
      }
    }
  }

  .container-gifos {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: repeat(6, 120px);
    grid-gap: 21px;
    margin-left: 21px;
    margin-right: 21px;
    overflow: hidden;
    margin-top: 78px;
    .img {
      width: 156px;
      height: 120px;
      overflow: hidden;
    }
  }

  .see-more {
    color: #572ee5;
    text-decoration: none;
    width: 127px;
    height: 50px;
    display: block;
    margin: auto;
    border: 1px solid #572ee5;
    border-radius: 25px;
    border-radius: 25px;
    padding: 16px 31.5px 16px 32.5px;
    margin-top: 78px;
    body.dark & {
      border: 1px solid#ffffff;
    }
    span {
      font-family: Montserrat-Bold;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      body.dark & {
        color: #ffffff;
      }
    }
  }
  .disabled-results-more {
    display: none;
  }
  .container-gifos-more {
    display: grid;
    grid-template-columns: 156px 156px;
    grid-template-rows: repeat(6, 120px);
    grid-gap: 21px;
    margin-left: 21px;
    margin-right: 21px;
    overflow: hidden;
    margin-top: 78px;
    img {
      width: 156px;
      height: 120px;
      overflow: hidden;
    }
  }
}
//MIS GIFOS//
.disabled-gifos {
  display: none;
}
.enabled-gifos {
  width: 100%;
  .misgif-contenido {
    width: 23px;
    height: 21px;
    display: block;
    margin: auto;
  }
  .titulo-misgifos {
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    width: 375px;
    height: 30px;
    margin-bottom: 50px;
    body.dark & {
      color: #ffffff;
    }
  }
  .misgif-sincontenido {
    display: block;
    margin: auto;
    margin-top: 52px;
    width: 100px;
    height: 100px;
  }
  h3 {
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    margin: auto;
    height: 30px;
    margin-top: 52px;
    body.dark & {
      color: #ffffff;
    }
  }
  .container-misgifos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
    margin-left: 21px;
    margin-right: 21px;
    .mis-gifos {
      width: 156px;
      height: 120px;
    }
  }
  .ver-mas {
    color: #572ee5;
    text-decoration: none;
    width: 127px;
    height: 50px;
    display: block;
    margin: auto;
    border: 1px solid #572ee5;
    border-radius: 25px;
    border-radius: 25px;
    padding: 16px 31.5px 16px 32.5px;
    margin-top: 78px;
    body.dark & {
      color: #ffffff;
      border: 1px solid #ffffff;
    }

    span {
      font-family: Montserrat-Bold;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      body.dark & {
        color: #ffffff;
      }
    }
  }
}

//MIS FAVORITOS//
.disabled-fav {
  display: none;
}
.enabled-fav {
  width: 100%;

  .logo-fav {
    width: 28px;
    height: 21px;
    display: block;
    margin: auto;
  }
  h2 {
    font-family: Montserrat-Bold;
    font-size: 20px;
    color: #572ee5;
    text-align: center;
    line-height: 30px;
    display: block;
    margin: auto;
    height: 30px;
    margin-bottom: 46px;
    body.dark & {
      color: #ffffff;
    }
  }
  .imagen-sin-fav {
    width: 150px;
    height: 151px;
    margin: auto;
    display: block;
  }
  .h3-fav {
    font-family: Montserrat-Bold;
    font-size: 22px;
    color: #50e3c2;
    text-align: center;
    line-height: 33px;
    width: 300px;
    height: 66px;
    margin: auto;
    display: block;
  }
  .container-favoritos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 21px;
    margin-left: 21px;
    margin-right: 21px;
    .img-fav {
      width: 156px;
      height: 120px;
    }

    .title-fav {
      margin-top: 193px;
      margin-left: 30px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: bold;
      color: #000000;
      width: 94px;
      height: 19px;
    }
    .user-fav {
      position: relative;
      bottom: 65px;
      left: 28px;
      font-family: Roboto-Regular;
      font-size: 15px;
      color: #000000;
      width: 31px;
      height: 18px;
    }
    .fa-heart {
      position: relative;
      top: 166px;
      left: 246px;
      width: 20px;
      height: 18px;
      color: #572ee5;
    }
    .icono-download-fav {
      position: relative;
      top: 188px;
      left: 140px;
      opacity: 0.5;
      border: 1px solid #9cafc3;
      border-radius: 6px;
      width: 36px;
      height: 36px;
    }
    .fa-times {
      position: relative;
      top: -229px;
      left: 336px;
      color: #572ee5;
      width: 13.8px;
      height: 14px;
    }
  }

  a {
    color: #572ee5;
    text-decoration: none;
    width: 127px;
    height: 50px;
    display: block;
    margin: auto;
    border: 1px solid #572ee5;
    border-radius: 25px;
    border-radius: 25px;
    padding: 16px 31.5px 16px 32.5px;
    margin-top: 78px;

    body.dark & {
      border: 1px solid #ffffff;
    }
    span {
      font-family: Montserrat-Bold;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      body.dark & {
        color: #ffffff;
      }
    }
  }
}

//MIS FAVORITOS//

//GRABAR

.grabargif {
  display: none;
  grid-template-columns: 26% 48% 26%;
  grid-template-rows: 390px 75px 105px;
  .camara-completa {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .pelicula {
    display: flex;
    align-items: flex-end;
    margin-left: 20%;
  }
  .zonaGrabacion {
    margin: auto;
    width: 100%;
    .grabacion {
      border: 1px solid #572ee5;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 45px auto 45px;
      grid-template-rows: 45px 300px 45px;
      #centrograbacion {
        grid-area: 2/2;
        #instructivo {
          // font-family: $montserrat;
          font-weight: 700;
          font-size: 25px;
          color: #572ee5;
          text-align: center;
          line-height: 35px;
          margin-top: 90px;
          #gifos-celeste {
            color: #50e3c2;
          }
        }
        #detalle {
          // font-family: $roboto;
          font-weight: 400;
          font-size: 16px;
          color: #000000;
          text-align: center;
          line-height: 29px;
          margin-top: 3px;
        }
        video {
          width: 100%;
          height: 100%;
        }
        img {
          width: 100%;
          height: 100%;
        }
        #loader {
          position: relative;
          top: -190px;
          width: 22px;
          height: 22px;
          z-index: 2;
          left: 280px;
        }
        #subiendoGifo {
          // font-family: $montserrat;
          font-weight: 700;
          font-size: 15px;
          color: #ffffff;
          text-align: center;
          z-index: 2;
          position: relative;
          top: -180px;
        }
        #hoverCard {
          opacity: 0.6;
          background: #572ee5;
          width: 100%;
          height: 100%;
          position: relative;
          top: -347px;
        }
      }
      #sup-izq {
        border-top: 1px solid #50e3c2;
        border-left: 1px solid #50e3c2;
        width: 25px;
        height: 25px;
        grid-area: 1/1;
        justify-self: right;
        align-self: flex-end;
      }
      #sup-der {
        border-top: 1px solid #50e3c2;
        border-right: 1px solid #50e3c2;
        width: 25px;
        height: 25px;
        grid-area: 1/3;
        justify-self: left;
        align-self: flex-end;
      }
      #inf-izq {
        border-bottom: 1px solid #50e3c2;
        border-left: 1px solid #50e3c2;
        width: 25px;
        height: 25px;
        grid-area: 3/1;
        justify-self: right;
        align-self: flex-start;
      }
      #inf-der {
        border-bottom: 1px solid #50e3c2;
        border-right: 1px solid #50e3c2;
        width: 25px;
        height: 25px;
        grid-area: 3/3;
        justify-self: left;
        align-self: flex-start;
      }
    }
    #pasos {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 75px;
      .pasos {
        display: block;
        width: 32px;
        height: 32px;
        border: 1px solid #572ee5;
        border-radius: 50%;
        line-height: 32px;
        text-align: center;
        // font-family: $roboto;
        font-weight: 500;
        font-size: 18px;
        color: #572ee5;
        margin: 0px 13px;
      }
      .hover {
        background: #572ee5;
        // font-family: $roboto;
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
      }
    }
    #tiempo-repetir {
      visibility: hidden;
      // font-family: $montserrat;
      font-weight: 700;
      font-size: 18px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
      position: relative;
      top: -50px;
      left: 490px;
      width: 200px;
    }
  }
  .foot {
    grid-area: 5/1/3/5;
    .comenzar {
      display: block;
      border: 1px solid #572ee5;
      border-radius: 25px;
      width: 127px;
      height: 50px;
      background-color: #ffffff;
      // font-family: $montserrat;
      font-weight: 700;
      font-size: 13px;
      color: #572ee5;
      letter-spacing: 0;
      text-align: center;
      line-height: 50px;
      margin: 20px auto 26px auto;
    }
    .division {
      background-color: #572ee5;
      width: 55%;
      height: 7px;
      border-radius: 3.5px;
      margin: auto;
    }
  }
}
